<!--
 * @Author: huangfucheng
 * @Date: 2021-08-05 09:13:58
 * @LastEditors: huangfucheng
 * @LastEditTime: 2021-08-20 09:59:18
 * @Description: 首页
-->
<template>
  <div>这是home 页面</div>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {}
  },
  mounted() {},
  methods: {}
}
</script>

<style scoped>
div {
  color: yellowgreen;
}
</style>
