<!--
 * @Author: huangfucheng
 * @Date: 2021-08-18 14:53:12
 * @LastEditors: huangfucheng
 * @LastEditTime: 2021-09-01 14:56:41
 * @Description: 
-->
<template>
  <section class="app-main">
    <router-view :key="key" />
  </section>
</template>

<script>
export default {
  name: 'AppMain',
  computed: {
    key() {
      return this.$route.path
    }
  }
}
</script>

<style scoped>
.app-main {
  /*60 = navbar  */
  /* min-height: calc(100vh - 60px); */
  min-height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* .fixed-header + .app-main {
  padding-top: 50px;
} */
</style>

<style lang="scss">
// fix css style bug in open el-dialog
// .el-popup-parent--hidden {
//   .fixed-header {
//     padding-right: 15px;
//   }
// }
</style>
