<!--
 * @Author: huangfucheng
 * @Date: 2021-08-19 09:10:04
 * @LastEditors: huangfucheng
 * @LastEditTime: 2021-10-18 09:16:51
 * @Description: 
-->
<template>
  <!-- 路由不隐藏就展示在侧边栏上 -->
  <div class="AsideBarItem" v-if="!item.hidden">
    <el-submenu :index="item.path" v-if="item.children && item.children.length > 1">
      <!-- 如果存在子路由，并且超过一个 -->
      <template #title>
        <div class="menuItem">
          <i :class="item.meta.icon"></i>
          <span>{{ item.meta.title }}</span>
        </div>
      </template>
      <!-- 递归 -->
      <aside-item v-for="child in item.children" :key="child.path" :item="child"></aside-item>
    </el-submenu>

    <!-- 存在子路由，但只有一个就只展示子路由 -->
    <el-menu-item :key="item.children[0].path" :index="item.children[0].path" v-else-if="item.children && item.children.length == 1">
      <div class="menuItem">
        <i :class="item.children[0].meta.icon"></i>
        <span>{{ item.children[0].meta.title }}</span>
      </div>
    </el-menu-item>

    <!-- 不存在子路由展示本身 -->
    <el-menu-item :key="item.path" :index="item.path" v-else-if="item.meta.isShow === true">
      <div class="menuItem">
        <i :class="item.meta.icon"></i>
        <span>{{ item.meta.title }}</span>
      </div>
    </el-menu-item>
  </div>
</template>
<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  data() {
    return {}
  },
  method: {}
}
</script>
<style lang="scss" scoped>
.menuItem > i {
  margin-right: 0px;
  color: #fff;
}
::v-deep .el-submenu__title {
  .el-submenu__icon-arrow {
    font-size: 18px;
  }
}
.menuItem {
  span {
    font-size: 16px;
  }
}
</style>
