<!--
 * @Author: huangfucheng
 * @Date: 2021-08-20 14:50:30
 * @LastEditors: huangfucheng
 * @LastEditTime: 2021-08-31 13:33:16
 * @Description: 
-->
<template>
  <el-breadcrumb separator="/">
    <el-breadcrumb-item :to="{ path: '/home' }">Ebuy</el-breadcrumb-item>
    <el-breadcrumb-item v-for="item in pathMap" :key="item.meta">
      {{ item.meta.title }}
    </el-breadcrumb-item>
  </el-breadcrumb>
</template>

<script>
export default {
  data() {
    return {
      pathMap: ''
    }
  },
  mounted() {
    this.getPath()
  },
  methods: {
    getPath() {
      const route = this.$route
      const { matched } = route
      this.pathMap = matched
      //过滤掉不存在meta.titie的路由
      this.pathMap = this.pathMap.filter(function (item) {
        return item.meta.title != null
      })
    }
  },
  //监听路由变化
  watch: {
    $route: 'getPath'
  }
}
</script>
<style scoped></style>
