<!--
 * @Author: huangfucheng
 * @Date: 2021-08-18 14:22:58
 * @LastEditors: huangfucheng
 * @LastEditTime: 2021-11-08 16:13:14
 * @Description: 
-->
<template>
  <el-header>
    <el-menu class="NavBar" mode="vertical" text-color="#fff" active-text-color="#ffd04b">
      <!-- 打开收起 -->
      <!-- width>800 PC 展示 -->
      <div @click="iscollapse" class="collapse_content" v-if="currentWidth > 800">
        <i class="el-icon-s-fold" v-if="collapse == false"></i>
        <i class="el-icon-s-unfold" v-if="collapse"></i>
      </div>

      <!-- width<800 抽屉 展示 -->
      <div v-if="currentWidth <= 800" class="collapse_content" @click="isdrawer">
        <i class="el-icon-menu"></i>
      </div>
      <!-- 抽屉展示 -->
      <el-drawer :with-header="false" v-model="drawer" direction="ltr" destroy-on-close size="150px">
        <SideBar></SideBar>
      </el-drawer>

      <!-- 面包屑 -->
      <div :class="{ breadcrumb_container: currentWidth > 400, breadcrumb_hidden: currentWidth <= 400 }">
        <NavBread></NavBread>
      </div>
      <el-dropdown trigger="hover">
        <span class="el-dropdown-link">
          <el-tooltip class="item" effect="dark" content="admin菜到了" placement="left">
            <span>
              <img src="@/assets/avatar.png" />
            </span>
          </el-tooltip>
          <i class="el-icon-arrow-down"></i>
        </span>
        <template #dropdown>
          <el-dropdown-menu>
            <el-dropdown-item icon="el-icon-s-home" @click="backHome">
              <span>首页</span>
            </el-dropdown-item>
            <el-dropdown-item icon="el-icon-switch-button" @click="logOut">
              <span>登出</span>
            </el-dropdown-item>
          </el-dropdown-menu>
        </template>
      </el-dropdown>
    </el-menu>
  </el-header>
</template>

<script>
import NavBread from './NavBread.vue'
import SideBar from './SideBar.vue'
import { getToken, removeToken } from '@/utils/auth'
import { ElMessage } from 'element-plus'
export default {
  data() {
    return {
      collapse: false, //false打开,true关闭
      drawer: false,
      currentWidth: 0,
      isChoosed: false
    }
  },
  props: {
    CurrentWidth: {
      type: Number
    }
  },
  components: {
    NavBread,
    SideBar
  },
  watch: {
    CurrentWidth() {
      this.currentWidth = this.CurrentWidth
      this.drawer = false //窗口变化直接关闭抽屉
      if (this.CurrentWidth > 800) {
        this.drawer = false //窗口样式不属于抽屉时关闭抽屉
      }
      // if (this.CurrentWidth > 800 && this.CurrentWidth <= 1000) {
      //   this.collapse = true
      //   this.$emit('collapseStatus', this.collapse)
      // } else if (this.CurrentWidth > 1000) {
      //   this.collapse = false
      //   this.$emit('collapseStatus', this.collapse)
      //震惊 ！！！！这是个bug, 在1000以上启动项目时,能正常缩放///// 但小于1000下启动项目会造成路由出问题
      //未解决，暂时去除
    }
  },
  mounted() {},
  methods: {
    isLogin() {
      var token = getToken('user_token')
      if (token == undefined || token == '' || token == null) {
        this.$router.push('/login')
      }
    },
    logOut() {
      removeToken()
      this.isLogin()
      ElMessage.success('成功退出')
    },
    backHome() {
      //返回首页
      this.$router.push('/home')
    },
    iscollapse() {
      //打开关闭侧边栏
      this.collapse = !this.collapse
      this.$emit('collapseStatus', this.collapse)
    },
    //抽屉导航打开状态
    isdrawer() {
      this.drawer = !this.drawer
      // console.log(11111, this.drawer)
    }
    // hasChoose(params) {
    //   this.isChoosed = params
    //   console.log('选择', this.isChoosed)
    //   if (this.isChoosed) {
    //     this.drawer = false
    //     this.isChoosed = false
    //   }
    // }
  }
}
</script>
<style lang="scss" scoped>
//NavBar样式
.el-header {
  text-align: center;
  line-height: 60px;
  padding: 0px;
  box-shadow: 3px 3px 5px #888888;
  background-color: white;
  .NavBar {
    border: 0px;
  }
}
//打开关闭侧边栏按钮样式
.collapse_content {
  float: left;
  cursor: pointer;
  height: 100%;
  font-size: 25px;
  padding: 0 15px;
}
//面包屑样式
.breadcrumb_container {
  float: left;
  .el-breadcrumb {
    font-size: 13px;
    line-height: 60px;
  }
}
.breadcrumb_hidden {
  display: none;
}
//抽屉弹窗
::v-deep .el-drawer.ltr {
  width: 150px;
}
//头像样式
::v-deep .el-dropdown {
  float: right;
  .el-dropdown-link {
    display: flex;
    align-items: center;
    padding-right: 20px;
    font-size: 18px;
    img {
      height: 40px;
      width: 40px;
      padding: 10px;
      border-radius: 25px;
    }
  }
}

::v-deep .el-popper.is-light.is-pure {
  border: none;
}
::v-deep .el-menu.el-menu--horizontal{
  border: none;
}
// ul.el-menu.el-menu--popup.el-menu--popup-bottom-start
</style>
