<!--
 * @Author: huangfucheng
 * @Date: 2021-08-18 14:30:20
 * @LastEditors: huangfucheng
 * @LastEditTime: 2021-09-03 15:07:24
 * @Description: 
-->
<template>
  <div v-if="CurrentWidth > 800" class="aside">
    <img src="@/assets/ebuy-logo.png" class="SideBar_logo" />
    <el-menu
      ref="asideMenu"
      :default-active="activeMenu"
      :uniqueOpened="true"
      :mode="mode"
      :menu-trigger="menuOpenMethods"
      class="SideBar_content"
      background-color="#304156"
      text-color="#bfcbd9"
      active-text-color="#409EFF"
      router
    >
      <AsideBarItem v-for="route in routes" :key="route.path" :item="route"></AsideBarItem>
    </el-menu>
  </div>
  <!-- 小于800的样式要重写 -->
  <div v-else class="aside_mini">
    <!-- <img src="@/assets/ebuy-logo.png" class="SideBar_logo" v-if="CurrentWidth > 800" /> -->
    <el-menu
      :default-active="activeMenu"
      :uniqueOpened="true"
      mode="horizontal"
      :menu-trigger="menuOpenMethods"
      class="SideBar_content"
      background-color="#304156"
      text-color="#bfcbd9"
      active-text-color="#409EFF"
      router
    >
      <AsideBarItem v-for="route in routes" :key="route.path" :item="route"></AsideBarItem>
    </el-menu>
  </div>
</template>

<script>
import AsideBarItem from './asideItem.vue'

export default {
  components: {
    AsideBarItem
  },
  props: {
    collapseStatus: {
      type: Boolean
    },
    CurrentWidth: {
      type: Number
    }
  },
  watch: {
    collapseStatus() {
      if (this.collapseStatus == false) {
        this.mode = 'vertical'
      } else {
        this.mode = 'horizontal'
        this.closeMenu() //当路由模式变化时自动关闭当前激活的路由
      }
    }
    // CurrentWidth() {
    //   if (this.CurrentWidth <= 1000) {
    //     this.mode = 'horizontal'
    //   } else if (this.CurrentWidth > 1000) {
    //     this.mode = 'vertical'
    //   }
    // }
  },
  data() {
    return {
      mode: 'vertical',
      menuOpenMethods: 'hover',
      drawer: false,
      closePath: ''
    }
  },
  computed: {
    routes() {
      //返回路由
      return this.$router.options.routes
    },
    activeMenu() {
      //保持左侧导航栏的激活状态
      const route = this.$route
      const { path } = route
      this.closePath = path.split('/')[1] //分割路由 用于关闭当前激活的路由导航
      return path
    }
  },
  methods: {
    closeMenu() {
      this.$refs['asideMenu'].close('/' + this.closePath) //关闭打开的menu
    }
    // handleSelect(hasChoose) {
    //   this.$emit('hasChoose', true)
    // }
  }
}
</script>

<style lang="scss" scoped>
.el-menu {
  border: none;
}
.aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  .SideBar_logo {
    height: 60px;
    width: 100%;
  }
  .SideBar_content {
    flex: 1;
  }
}
.aside_mini {
  display: flex;
  text-align: left;
  flex-direction: column;
  height: 100%;
  .SideBar_content {
    flex: 1;
  }
}
::v-deep .el-submenu .el-menu-item {
  height: 50px;
  line-height: 50px;
  padding: 0 45px;
  min-width: 100px;
}
</style>
<style lang="scss">
//保持激活状态的颜色
.el-submenu.is-active > .el-submenu__title {
  .menuItem > i {
    color: #409eef !important ;
  }
  color: #409eef !important ;
}
</style>
