<!--
 * @Author: huangfucheng
 * @Date: 2021-08-15 17:17:40
 * @LastEditors: huangfucheng
 * @LastEditTime: 2021-11-08 16:11:50
 * @Description: 
-->
<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import '@/style/index.scss'
export default {}
</script>
<style>
html,
body,
#root,
#app {
  width: 100%;
  height: 100%;
  margin: 0px;
  min-width: 300px;
}
</style>
