<template>
  <div class="Login-form">
    <div :class="classType == 0 ? 'container' : 'container right-panel-active'" id="login-box">
      <div class="form-container sign-up-container">
        <el-form ref="loginForm" :model="signUpForm" :rules="signUpRules">
          <h1>注册</h1>
          <el-form-item prop="userName">
            <el-input ref="userName" v-model="signUpForm.userName" placeholder="userName" type="text" auto-complete="on" />
          </el-form-item>
          <el-form-item prop="eMail">
            <el-input ref="eMail" v-model="signUpForm.eMail" placeholder="eMail" type="text" auto-complete="on" />
          </el-form-item>
          <el-form-item prop="passWord">
            <el-input ref="passWord" type="passWord" v-model="signUpForm.passWord" placeholder="passWord" auto-complete="on" />
          </el-form-item>
          <el-form-item prop="confimPassword">
            <el-input ref="confimPassword" type="passWord" v-model="signUpForm.confimPassword" placeholder="passWord" auto-complete="on" />
          </el-form-item>
          <el-button type="primary">注册</el-button>
        </el-form>
      </div>
      <div class="form-container sign-in-container">
        <el-form ref="loginForm" :model="loginForm" :rules="loginRules">
          <h1>登录</h1>
          <el-form-item prop="userName">
            <el-input ref="userName" v-model="loginForm.userName" placeholder="userName" type="text" @keyup="eBKeyUp" />
          </el-form-item>
          <el-form-item prop="passWord">
            <el-input
              ref="passWord"
              type="passWord"
              v-model="loginForm.passWord"
              placeholder="passWord"
              @keyup="eBKeyUp"
              @keyup.enter="handleLogin"
            />
          </el-form-item>
          <a href="/#/login">忘记密码？</a>
          <el-button type="primary" @click="handleLogin">登录</el-button>
        </el-form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>已有账号？</h1>
            <p>请使用您的账号进行登录</p>
            <button class="ghost" id="signIn" @click="signChange">登录</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>没有账号?</h1>
            <p>立即注册加入我们，和我们一起开始旅程吧</p>
            <button class="ghost" id="signUp" @click="signChange">注册</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { ElMessage } from 'element-plus'
import { getToken } from '@/utils/auth'
export default {
  name: 'login-swipe',
  data() {
    return {
      classType: 0,
      loginForm: {
        userName: '',
        passWord: ''
      },
      signUpForm: {
        userName: '',
        eMail: '',
        password: '',
        confimPassword: ''
      },
      loginRules: {
        userName: [{ required: true, tirgger: 'blur', validator: '用户名不能为空' }],
        passWord: [{ required: true, tirgger: 'blur', validator: '密码不能为空' }]
      },
      signUpRules: {
        userName: [{ required: true, tirgger: 'blur', validator: '用户名不能为空' }],
        eMail: [{ required: true, tirgger: 'blur', validator: '邮箱不能为空' }],
        passWord: [{ required: true, tirgger: 'blur', validator: '密码不能为空' }],
        confimPassword: [{ required: true, tirgger: 'blur', validator: '确认密码不能为空' }]
      }
    }
  },
  mounted() {
    this.islogin()
  },
  methods: {
    signChange() {
      this.$refs.loginForm.resetFields()
      this.classType = !this.classType
    },
    eBKeyUp(e) {
      e.target.value = e.target.value.replace(/^\s+|\s+$/gm, '')
    },
    //点击登录
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loginForm.userName = this.loginForm.userName.trim()
          this.loginForm.passWord = this.loginForm.passWord.trim()
          this.$store
            .dispatch('user/login', this.loginForm)
            .then(res => {
              this.$router.replace('/home')
            })
            .catch(error => {
              ElMessage.error(error)
            })
        }
        // else {
        //   ElMessage.error('错误的提交')
        // }
      })
    },
    //判断是否处于等于状态登录
    islogin() {
      var token = getToken('user_token')
      if (token != '' && token != null && token != undefined) {
        this.$router.replace('/login')
      }
      if (token) {
        this.$router.replace('/')
      }
    }
  }
}
</script>
<style scoped>
::v-deep .el-input__inner {
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #adadad;
}
.Login-form {
  /* background-image: linear-gradient(120deg, #3498db, #8e44ad); */
  background: url('../../assets/loginBar/background2.png') no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-weight: bold;
  margin: 0;
}
p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  text-align: center;
}

button {
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

button.ghost {
  background: transparent;
  border-color: #fff;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.form-container button {
  background: linear-gradient(120deg, #3498db, #8e44ad);
  border: none;
  background-size: 200%;
  color: #fff;
  transition: 0.5s;
}

.form-container button:hover {
  background-position: right;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.sign-in-container form a {
  position: relative;
  left: 100px;
}
.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}
.sign-up-container button {
  margin-top: 20px;
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.overlay {
  /* background-image: linear-gradient(120deg, #3498db, #8e44ad); */
  background: url('../../assets/loginBar/background2.png') no-repeat;
  background-size: 100% 100%;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}
.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0 40px; */
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}
.overlay-right {
  right: 0;
  transform: translateY(0);
}

.overlay-left {
  transform: translateY(-20%);
}

.container.right-panel-active .sign-in-container {
  transform: translateY(100%);
}

.container.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}
.container.container.right-panel-active .overlay {
  transform: translateX(50%);
}
.container.container.right-panel-active .overlay-left {
  transform: translateY(0);
}
.container.container.right-panel-active .overlay-right {
  transform: translateY(20%);
}
</style>
