<template>
  <div class="login-container">
    <div class="login-header">
      <h1 class="login-title">eBuy</h1>
    </div>
    <div class="login-form">
      <el-form ref="loginForm" :model="loginForm" :rules="loginRules" auto-complete="on" label-position="left">
        <el-form-item prop="userName">
          <el-input ref="userName" v-model="loginForm.userName" placeholder="userName" type="text" tabindex="1" auto-complete="on" @keyup="eBKeyUp" />
        </el-form-item>
        <el-form-item prop="passWord">
          <el-input
            ref="passWord"
            type="passWord"
            v-model="loginForm.passWord"
            placeholder="passWord"
            tabindex="2"
            auto-complete="on"
            @keyup="eBKeyUp"
            @keyup.enter="handleLogin"
          />
        </el-form-item>

        <el-button type="primary" style="width: 100%; margin-bottom: 30px" @click="handleLogin">Login</el-button>
      </el-form>
    </div>
  </div>
</template>
<script>
import { ElMessage } from 'element-plus'
import { getToken } from '@/utils/auth'
export default {
  name: 'Login',
  data() {
    return {
      loginForm: {
        userName: '',
        passWord: ''
      },
      loginRules: {
        userName: [{ required: true, tirgger: 'blur', validator: '用户名不能为空' }],
        passWord: [{ required: true, tirgger: 'blur', validator: '密码不能为空' }]
      }
    }
  },
  mounted() {
    this.islogin()
  },
  methods: {
    eBKeyUp(e) {
      e.target.value = e.target.value.replace(/^\s+|\s+$/gm, '')
    },
    //点击登录
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loginForm.userName = this.loginForm.userName.trim()
          this.loginForm.passWord = this.loginForm.passWord.trim()
          // let param = {
          //   userName: this.loginForm.userName.trim(),
          //   passWord: this.loginForm.passWord.trim()
          // }
          // Login(param)
          //   .then(res => {
          //     console.log(res)
          //   })
          //   .catch(err => {
          //     console.log(err)
          //   })
          this.$store
            .dispatch('user/login', this.loginForm)
            .then(res => {
              this.$router.replace('/home')
            })
            .catch(error => {
              ElMessage.error(error)
            })
        } else {
          ElMessage.error('错误的提交')
        }
      })
    },
    //判断是否处于等于状态登录
    islogin() {
      var token = getToken('user_token')
      if (token != '' && token != null && token != undefined) {
        this.$router.replace('/login')
      }
      if (token) {
        this.$router.replace('/')
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.login-container {
  display: flex;
  height: 100%;
  width: 100%;
  background: url('../../assets/loginBar/background.png') no-repeat;
  background-size: 100% 100%;
  background-color: #d6ecf8;
  overflow: hidden;
  text-align: center;
  //标题
  .login-header {
    flex: 1;
    justify-content: center;
    margin: auto;
    .login-title {
      display: inline-block;
      font-size: 130px;
      font-weight: 900;
      color: transparent;
      background: url('@/assets/loginBar/background2.png') no-repeat 0;
      background-size: 150% auto;
      -webkit-background-clip: text; //设置标题背景图范围
      background-clip: text;
      margin: 0px;
      animation: mymove 10s infinite; //设置标题动画
      -webkit-animation: mymove 10s infinite; /* Safari 和 Chrome */
    }
  }
  //表单
  .login-form {
    flex: 1;
    position: relative;
    width: 40%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0 10px;
  }
}

//标题动画
@keyframes mymove {
  0% {
    background-position: top;
    background-size: 150% auto;
  }
  10% {
    background-position: 100% 0;
    background-size: 150% auto;
  }
  15% {
    background-position: 100% 0;
    background-size: 150% auto;
  }
  25% {
    background-position: top;
    background-size: 150% auto;
  }
  30% {
    background-position: top;
    background-size: 150% auto;
  }
  45% {
    background-position: 50%;
    background-size: 200% auto;
  }
  50% {
    background-position: 50%;
    background-size: 200% auto;
  }
  70% {
    background-position: bottom;
    background-size: 100% auto;
  }
  80% {
    background-position: bottom;
    background-size: 100% auto;
  }
  90% {
    background-position: top;
    background-size: 150% auto;
  }
  100% {
    background-position: top;
    background-size: 150% auto;
  }
}
</style>
