<!--
 * @Author: huangfucheng
 * @Date: 2021-08-18 10:30:53
 * @LastEditors: huangfucheng
 * @LastEditTime: 2021-09-09 16:05:26
 * @Description: layout框架
-->
<template>
  <el-container>
    <!-- 侧边导航栏 -->
    <el-aside
      :class="{
        open: collapseStatus == false && currentWidth > 800,
        close: collapseStatus == true && currentWidth > 800,
        hidden: currentWidth <= 800
      }"
    >
      <SideBar :collapseStatus="collapseStatus" :CurrentWidth="currentWidth"></SideBar>
    </el-aside>
    <el-container>
      <!-- 顶层导航栏 -->
      <NavBar @collapseStatus="setcollapse" :CurrentWidth="currentWidth"></NavBar>
      <!-- 主要内容 -->
      <el-main>
        <AppMain></AppMain>
      </el-main>
      <el-footer>叮咚买菜！您好！您的电话打不通！我特地在这里留言，您菜到家了！</el-footer>
    </el-container>
  </el-container>
</template>

<script>
import { NavBar, SideBar, AppMain } from './components'
export default {
  data() {
    return {
      collapseStatus: false,
      currentWidth: 0
    }
  },
  components: {
    NavBar,
    SideBar,
    AppMain
  },
  mounted() {
    this.getWidth()
  },
  methods: {
    //侧边栏打开关闭状态s
    setcollapse(params) {
      // console.log('关闭打开状态', params)
      this.collapseStatus = params
    },
    getWidth() {
      this.currentWidth = document.body.clientWidth
      // console.log(this.currentWidth)
      window.onresize = () => {
        this.currentWidth = document.body.clientWidth
        console.log(this.currentWidth)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.el-container {
  height: 100%;
  width: 100%;
  border: 0px;
  // .el-aside {
  //   display: flex;
  //   flex-direction: column;
  //   text-align: left;
  // }
  //屏幕宽度>800
  .open {
    width: 200px;
  }
  .close {
    width: 75px;
    ::v-deep .menuItem > span {
      display: none;
    }
    ::v-deep .el-submenu__icon-arrow.el-icon-arrow-down {
      display: none;
    }
  }
  //屏幕宽度<800
  .hidden {
    width: 0px;
  }
}
.el-footer {
  text-align: center;
  line-height: 60px;
  padding: 0px;
  overflow: hidden;
}
.el-main {
  background-color: white;
  margin: 10px 10px 0px;
  box-shadow: -1px 1px 5px #888888;
  padding: 16px;
  color: #333;
}
</style>
<style lang="scss">
// 修改导航竖排模式下的样式
.el-popper.is-light.is-pure {
  border: none;
  box-shadow: -2px 2px 2px #333;
}
</style>
